:root {
    --vp-c-black: #202020;
    --vp-c-gray: #e6e6e6;
    --vp-c-green: #59a52c;
    --vp-c-green-light: #6fca3a;
    --vp-c-green-lighter: #6fca3a;
    --vp-c-green-dark: #437d21;
    --vp-c-green-darker: #437d21;
}
  